---
import { Icon } from "astro-icon";

const { } = Astro.props;
---

<footer>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="grid grid-cols-10 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12 border-t border-gray-200 dark:border-slate-800">
      <div class="col-span-12 lg:col-span-3">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href="https://astro.build">AstroRain, built with Astro</a>
        </div>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-4">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          About
        </div>
        <ul class="text-sm">
          <li class="mb-2">
            <a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="#">Why is it raining? Did you know that in Asheville, NC in the Pisgah National Forest. Parts of the Pisgah
              National Forest are considered a temperate rainforest due to the amount of rainfall each year. So, why not figure
              out if its raining in Asheville? Yes, you could always look out your window or walk outside - but this makes it so
              much easier. LOL.
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-12 md:col-span-3 lg:col-span-3">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          <a class="inline-block font-bold text-xl" href="https://ryan-james.dev">Ryan James</a>
        </div>
        <p class="text-sm text-gray-600 dark:text-gray-400 mb-4">
          Check out my blog and more projects that I've built.
        </p>
      </div>
    </div>
    <div class="md:flex md:items-center md:justify-between py-4 md:py-8">
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        Made by <a class="text-blue-600 hover:underline dark:text-gray-200" href="https://ryan-james.dev/">
          Ryan James
        </a>. All rights reserved.
      </div>
    </div>
  </div>
</footer>