---
import Layout from "~/layouts/PageLayout.astro";

import { SITE } from "~/config.mjs";

import Hero from "~/components/widgets/Hero.astro";
import BasicCTA from "~/components/widgets/BasicCTA.astro";
import BasicFeatures from "~/components/widgets/BasicFeatures.astro";
import StepsFeatures from "~/components/widgets/StepsFeatures.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import TwoColsFeatures from "~/components/widgets/TwoColsFeatures.astro";
import StepsLeft from "~/components/widgets/StepsLeft.astro";
import HighlightedPosts from "~/components/widgets/HighlightedPosts.astro";
import Stats from "~/components/widgets/Stats.astro";

const title = `${SITE.name} — Asheville, Is It Raining?`;
const description =
  "🚀 AstroWind is a free and Ready to Start template to make your website using Astro and Tailwind CSS.";
const canonical = new URL("", Astro.site);

const API_KEY = "be4e7f1aab164ff3fbebe282933c02eb"

const response = await fetch('https://api.openweathermap.org/data/2.5/weather?lat=35.5951&lon=-82.5515&appid=be4e7f1aab164ff3fbebe282933c02eb');
const data = await response.json()
const iconType = data.weather[0].icon;
const iconUrl = "http://openweathermap.org/img/wn/"+iconType+"@2x.png"
let raining = data.weather[0].description.includes("rain")
---

<Layout meta={{ title, description, canonical }}>
  <main>
    <div class="px-12 flex flex-auto">
      <div class="flex align-center">
        <h1>
          Asheville, Is It Raining?
        </h1>
      </div>
      <div>
        <h3>
          <br/>{raining ? "Yes" : "No"}
        </h3>
        <img src={iconUrl} width="25" alt="Icon">
      </div>
      
    </div>
    
    
  </main>
</Layout>